.login-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #000
  opacity: 0.8
  z-index: 2
  
.new-bill-form
  position: fixed
  width: 50%
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  background-color: #fff
  background-size: cover
  z-index: 5

.new-bill-title
  width: 100%
  text-align: center
  margin-bottom: -15px
  
.new-bill-title h1
  margin: 0
  margin-top: -17px

.bill-input-container
  padding-left: 20px
  padding-right: 20px

.bill-input
  width: 100%
  height: 3vh
  margin-bottom: 20px
  border: 1px solid gray
  padding: 10px

.new-bill-submit 
  background-color: #FF9922
  margin-bottom: 15px
  height: 40px
  border: none
  border-radius: 2px
  color: white
  padding: 10px 32px
  font-size: 20px
  
  &:hover
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    cursor: pointer

.submit-quick-payment
  margin-bottom: 30px
  background-color: #FF9922
  border: none
  border-radius: 2px
  color: white
  padding: 10px 32px
  font-size: 15px

  &:hover
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    cursor: pointer

.exit-quick-payment
  margin-bottom: 30px
  background-color: #FF9922
  border: none
  border-radius: 2px
  color: white
  padding: 10px 32px
  font-size: 15px

  &:hover
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    cursor: pointer

.new-bill-wrapper
  width: 100%
  backround-color: blue

.left-new-bill
  width: 50%
  backround-color: pink

.right-new-bill
  width: 50%
  backround-color: green

.new-payment-wrapper
  width: 100%
  backround-color: orange

.left-new-payment
  width: 50%
  backround-color: purple

.right-new-payment
  width: 50%
  backround-color: red

